
.task-item .delete-icon {
    visibility: hidden; 
    cursor: pointer;
}

.task-item:hover .delete-icon {
    visibility: visible; 
}

input::placeholder {
    font-weight: 300;
    color: #d9d9d9;
    font-style: italic;
}